<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'css/fa.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{%  static 'css/BsMultiSelect.css' %}">
	<link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <!--   <link rel="stylesheet" href="/resources/demos/style.css"> -->


	<title>Index</title>
</head>
<body class="container">
	<div class="searchbox">
		<input type="text" name="srch" class="search" placeholder="search " required>
		<a href="output.html"><i class="fa fa-search icon" aria-hidden="true"></i></a>
		<!-- <button class="box">search</button> -->
	</div>
	<div class="drops row">
		<div class="datedrop col-mid-3">
			<center><p class="title">From:</p></center><br>
			<input type="date" /><br><br><br>
			<center><p class="title">To:</p></center><br>
			<input type="date" name="">
		</div>
		<div class="category col-mid-3">
			<center><p class="title">category:</p></center><br>
			<select name="states1" id="example1" class="form-control"  multiple="multiple" style="display: none;">
<option selected="" value="customs">customs</option>
<option value="indirect tax">indirect tax</option>
<option value="practice">practice</option>
<option value="procedure">procedure</option>
<option value="sea customs act 1962">sea customs act 1962</option>
<option value="civil procedure">civil procedure</option>
<option value="constitution">constitution</option>
<option value="corporate">corporate</option>
<option value="labour">labour</option>
<option value="industrial law">industrial law</option>
<option value="carriers">carriers</option>
<option value="transportation">transportation</option>
<option value="criminal">criminal</option>
<option value="tort">tort</option>
<option value="murder">murder</option>
<option value="marriage">marriage</option>
<option value="divorce">divorce</option>
<option value="municipalities">municipalities</option>
<option value="local governments">local governments</option>
<option value="rent control">rent control</option>
<option value="land">land</option>
<option value="property">property</option>
<option value="service">service</option>
<option value="defence">defence</option>
<option value="security forces">security forces</option>
<option value="code of criminal procedure">code of criminal procedure</option>
<option value="agriculture">agriculture</option>
<option value="agri. products">agri. products</option>
<option value="banking">banking</option>
<option value="finance">finance</option>
<option value="family">family</option>
<option value="personal">personal</option>
<option value="income tax">income tax</option>
<option value="direct taxes">direct taxes</option>
<option value="exchange control">exchange control</option>
<option value="fdi">fdi</option>
<option value="sales tax">sales tax</option>
<option value="arbitration">arbitration</option>
<option value="adr">adr</option>
<option value="trade">trade</option>
<option value="debt laws">debt laws</option>
<option value="women">women</option>
<option value="children">children</option>
<option value="succession">succession</option>
<option value="inheritance">inheritance</option>
<option value="education">education</option>
<option value="fema">fema</option>
<option value="criminal procedure code">criminal procedure code</option>
<option value="age of superannuation">age of superannuation</option>
<option value="code of civil procedure 1908">code of civil procedure 1908</option>
<option value="evacuee property">evacuee property</option>
<option value="displaced persons">displaced persons</option>
<option value="advocates">advocates</option>
<option value="judges">judges</option>
<option value="migration">migration</option>
<option value="arbitration act">arbitration act</option>
<option value="oil and natural gas commission">oil and natural gas commission</option>
<option value="communal harmony">communal harmony</option>
<option value="communal violence">communal violence</option>
<option value="communalism">communalism</option>
<option value="excise">excise</option>
<option value="income-tax act">income-tax act</option>
<option value="mines">mines</option>
<option value="minerals">minerals</option>
<option value="consumer protection">consumer protection</option>
<option value="mrtp">mrtp</option>
<option value="uttar pradesh urban building act">uttar pradesh urban building act</option>
<option value="warehouse">warehouse</option>
<option value="air force act">air force act</option>
<option value="navy act">navy act</option>
<option value="contract">contract</option>
<option value="commercial">commercial</option>
<option value="administrative">administrative</option>
<option value="challenged">challenged</option>
<option value="termination">termination</option>
<option value="textiles">textiles</option>
<option value="election">election</option>
<option value="trusts">trusts</option>
<option value="associations">associations</option>
<option value="eligibility - qualifications">eligibility - qualifications</option>
<option value="defence regulations">defence regulations</option>
<option value="eviction">eviction</option>
<option value="justification">justification</option>
<option value="socio-economic">socio-economic</option>
<option value="electricity">electricity</option>
<option value="energy">energy</option>
<option value="conviction">conviction</option>
<option value="sustainability">sustainability</option>
<option value="civil services rules">civil services rules</option>
<option value="environment">environment</option>
<option value="wildlife">wildlife</option>
<option value="animal">animal</option>
<option value="special relief act">special relief act</option>
<option value="uttar pradesh municipalities act">uttar pradesh municipalities act</option>
<option value="legality">legality</option>
<option value="justifiability">justifiability</option>
<option value="intellectual property">intellectual property</option>
<option value="health">health</option>
<option value="drug">drug</option>
<option value="sale price">sale price</option>
<option value="closure">closure</option>
<option value="companies act">companies act</option>
<option value="industrial employment act">industrial employment act</option>
<option value="media">media</option>
<option value="entertainment">entertainment</option>
<option value="defence of india rules">defence of india rules</option>
<option value="minority">minority</option>
<option value="adoption">adoption</option>
<option value="guardianship">guardianship</option>
<option value="foreigners">foreigners</option>
<option value="railway act 1890">railway act 1890</option>
<option value="food adulteration">food adulteration</option>
<option value="parliament">parliament</option>
<option value="legislature">legislature</option>
<option value="finance act">finance act</option>
<option value="ex-parte">ex-parte</option>
<option value="court martial">court martial</option>
<option value="society">society</option>
<option value="indian independence act">indian independence act</option>
<option value="electricity act">electricity act</option>
<option value="bombay rent">bombay rent</option>
<option value="hotel and lodging house rates control act">hotel and lodging house rates control act</option>
<option value="land acquisition">land acquisition</option>
<option value="bihar sales tax act">bihar sales tax act</option>
<option value="reserve bank of india act">reserve bank of india act</option>
<option value="international">international</option>
<option value="collected">collected</option>
<option value="rajasthan sales tax act">rajasthan sales tax act</option>
<option value="regional rural banks act">regional rural banks act</option>
<option value="maintainability">maintainability</option>
<option value="kirpan">kirpan</option>
<option value="insurance">insurance</option>
<option value="finance bill">finance bill</option>
<option value="registered dealer">registered dealer</option>
<option value="central sales tax act">central sales tax act</option>
<option value="dowry prohibition act">dowry prohibition act</option>
<option value="office of profit under">office of profit under</option>
<option value="industrial disputes act">industrial disputes act</option>
<option value="east punjab urban rent restrictions act">east punjab urban rent restrictions act</option>
<option value="acquittal">acquittal</option>
<option value="code of criminal procedure 1898">code of criminal procedure 1898</option>
<option value="prohibition act">prohibition act</option>
<option value="board of revenue act">board of revenue act</option>
<option value="ballistics">ballistics</option>
<option value="approver">approver</option>
<option value="research">research</option>
<option value="supreme court act">supreme court act</option>
<option value="possession of land">possession of land</option>
<option value="coparcener">coparcener</option>
<option value="code of civil procedure">code of civil procedure</option>
<option value="constitution act">constitution act</option>
<option value="corporate body">corporate body</option>
<option value="defence of india act">defence of india act</option>
<option value="water">water</option>
<option value="education norms">education norms</option>
<option value="industrial disputes">industrial disputes</option>
<option value="parity">parity</option>
<option value="trader">trader</option>
<option value="bombay prohibition act 1949">bombay prohibition act 1949</option>
<option value="bombay provincial municipal corporation act">bombay provincial municipal corporation act</option>
<option value="telephone">telephone</option>
<option value="declaratory suit">declaratory suit</option>
<option value="inter-state water disputes act">inter-state water disputes act</option>
<option value="woman">woman</option>
<option value="constitutionality">constitutionality</option>
<option value="right to promotion">right to promotion</option>
<option value="human rights">human rights</option>
<option value="comments">comments</option>
<option value="preventive detention act">preventive detention act</option>
<option value="sea customs act 1878">sea customs act 1878</option>
<option value="purity">purity</option>
<option value="armed forces">armed forces</option>
<option value="tada act">tada act</option>
<option value="chance witness">chance witness</option>
<option value="importation">importation</option>
<option value="specially empowered">specially empowered</option>
<option value="public sector">public sector</option>
<option value="import and export act. 1947">import and export act. 1947</option>
<option value="defence service">defence service</option>
<option value="entitlement of">entitlement of</option>
<option value="wrongful confinement">wrongful confinement</option>
<option value="tariff item">tariff item</option>
<option value="freedom of speech and expression">freedom of speech and expression</option>
<option value="carrier">carrier</option>
<option value="indian medical council act">indian medical council act</option>
<option value="motor vehicles act">motor vehicles act</option>
<option value="competence of the legislature">competence of the legislature</option>
<option value="dishonour of cheques">dishonour of cheques</option>
<option value="self defence">self defence</option>
<option value="adjourn">adjourn</option>
<option value="fundamental duties">fundamental duties</option>
<option value="telecom">telecom</option>
<option value="petroleum">petroleum</option>
<option value="gas">gas</option>
<option value="absence from duty">absence from duty</option>
<option value="uttar pradesh trade tax act">uttar pradesh trade tax act</option>
<option value="master and servant relationship">master and servant relationship</option>
<option value="sick industrial companies act">sick industrial companies act</option>
<option value="land acquisition officer">land acquisition officer</option>
<option value="land acquisition act">land acquisition act</option>
<option value="subsequent conduct">subsequent conduct</option>
<option value="customs valuation rules">customs valuation rules</option>
<option value="mitigating factor">mitigating factor</option>
<option value="sovereignty and integrity of india">sovereignty and integrity of india</option>
<option value="consumer protection act">consumer protection act</option>
<option value="denied">denied</option>
<option value="administration of evacuee property act">administration of evacuee property act</option>
<option value="right to practise">right to practise</option>
<option value="attorney-general">attorney-general</option>
<option value="miscellaneous">miscellaneous</option>
<option value="declared goods">declared goods</option>
<option value="charge - sheet">charge - sheet</option>
<option value="permissibility">permissibility</option>
<option value="normal price">normal price</option>
<option value="labour appellate tribunal">labour appellate tribunal</option>
<option value="cost of living">cost of living</option>
<option value="trade union act">trade union act</option>
<option value="affirmative action">affirmative action</option>
<option value="government of india act">government of india act</option>
<option value="madras general sales tax act">madras general sales tax act</option>
<option value="vocation">vocation</option>
<option value="election expenses">election expenses</option>
<option value="election dispute">election dispute</option>
<option value="assessment year">assessment year</option>
<option value="indian evidence act">indian evidence act</option>
<option value="contempt of courts act">contempt of courts act</option>
<option value="prevention of corruption act">prevention of corruption act</option>
<option value="fair wage">fair wage</option>
<option value="illegal gratification">illegal gratification</option>
<option value="limitation act">limitation act</option>
<option value="available surplus">available surplus</option>
<option value="specific relief act">specific relief act</option>
<option value="sales tax authorities">sales tax authorities</option>
<option value="processing">processing</option>
<option value="indian bar councils act">indian bar councils act</option>
<option value="general clauses act">general clauses act</option>
<option value="conditional sale">conditional sale</option>
<option value="indian contract act">indian contract act</option>
<option value="police act">police act</option>
<option value="mortgage by conditional sale">mortgage by conditional sale</option>
<option value="misa">misa</option>
<option value="intervene">intervene</option>
<option value="court of record">court of record</option>
<option value="rate">rate</option>
<option value="editor">editor</option>
<option value="arms act">arms act</option>
<option value="indian penal code">indian penal code</option>
<option value="husband">husband</option>
<option value="age">age</option>
<option value="character">character</option>
<option value="charge sheet">charge sheet</option>
<option value="contents">contents</option>
<option value="explain">explain</option>
<option value="fir">fir</option>
<option value="plea">plea</option>
<option value="reliance">reliance</option>
<option value="version">version</option>
<option value="bond">bond</option>
<option value="cross-examination">cross-examination</option>
<option value="first information report">first information report</option>
<option value="inference">inference</option>
<option value="jurisdiction">jurisdiction</option>
<option value="permission">permission</option>
<option value="production">production</option>
<option value="prosecution witness">prosecution witness</option>
<option value="settlement">settlement</option>
<option value="value">value</option>
<option value="pension">pension</option>
<option value="date">date</option>
<option value="appeal">appeal</option>
<option value="regular">regular</option>
<option value="interest">interest</option>
<option value="scheme">scheme</option>
<option value="writ petition">writ petition</option>
<option value="notice">notice</option>
<option value="employee">employee</option>
<option value="amendment">amendment</option>
<option value="appointment">appointment</option>
<option value="costs">costs</option>
<option value="eligibility">eligibility</option>
<option value="examination">examination</option>
<option value="leave">leave</option>
<option value="merit">merit</option>
<option value="pay">pay</option>
<option value="post">post</option>
<option value="posts">posts</option>
<option value="promotion">promotion</option>
<option value="public service commission">public service commission</option>
<option value="recruitment">recruitment</option>
<option value="relief">relief</option>
<option value="rule">rule</option>
<option value="seniority">seniority</option>
<option value="constitution of india">constitution of india</option>
<option value="anticipatory bail">anticipatory bail</option>
<option value="attorney">attorney</option>
<option value="co-accused">co-accused</option>
<option value="registered">registered</option>
<option value="complainant">complainant</option>
<option value="concurrent">concurrent</option>
<option value="forthwith">forthwith</option>
<option value="interfere">interfere</option>
<option value="life imprisonment">life imprisonment</option>
<option value="medical evidence">medical evidence</option>
<option value="rape">rape</option>
<option value="rigorous imprisonment">rigorous imprisonment</option>
<option value="customs act">customs act</option>
<option value="salary">salary</option>
<option value="negotiable instruments act">negotiable instruments act</option>
<option value="securities exchange board of india">securities exchange board of india</option>
<option value="securities">securities</option>
<option value="challenge">challenge</option>
<option value="doctor">doctor</option>
<option value="review">review</option>
<option value="immovable property">immovable property</option>
<option value="transfer of property act">transfer of property act</option>
<option value="limitation">limitation</option>
<option value="arbitration agreement">arbitration agreement</option>
<option value="arbitration and conciliation act">arbitration and conciliation act</option>
<option value="arbitration clause">arbitration clause</option>
<option value="maintenance">maintenance</option>
<option value="central excise act">central excise act</option>
<option value="second appeal">second appeal</option>
<option value="registration">registration</option>
<option value="agent">agent</option>
<option value="auction">auction</option>
<option value="hindu marriage act">hindu marriage act</option>
<option value="competent authority">competent authority</option>
<option value="right to fair compensation and transparency in land acquisition">right to fair compensation and transparency in land acquisition</option>
<option value="rehabilitation and resettlement act">rehabilitation and resettlement act</option>
<option value="additional sessions judge">additional sessions judge</option>
<option value="welfare">welfare</option>
<option value="presumption">presumption</option>
<option value="harassment">harassment</option>
<option value="opportunity">opportunity</option>
<option value="assembly">assembly</option>
<option value="subordinate">subordinate</option>
<option value="treatment">treatment</option>
<option value="abuse">abuse</option>
<option value="denial">denial</option>
<option value="cognizance">cognizance</option>
<option value="innocent">innocent</option>
<option value="proviso">proviso</option>
<option value="dealing">dealing</option>
<option value="change">change</option>
<option value="market value">market value</option>
<option value="hindu succession act">hindu succession act</option>
<option value="pendency">pendency</option>
<option value="attack">attack</option>
<option value="stock">stock</option>
<option value="chain">chain</option>
<option value="industrial">industrial</option>
<option value="securitisation and reconstruction of financial assets and enforcement of security interest act">securitisation and reconstruction of financial assets and enforcement of security interest act</option>
<option value="place of occurrence">place of occurrence</option>
<option value="informant">informant</option>
<option value="identification">identification</option>
<option value="distance">distance</option>
<option value="inquiry">inquiry</option>
<option value="vacancies">vacancies</option>
<option value="employment">employment</option>
<option value="right to">right to</option>
<option value="advertisement">advertisement</option>
<option value="grade">grade</option>
<option value="policy">policy</option>
<option value="qualification">qualification</option>
<option value="representation">representation</option>
<option value="selection">selection</option>
<option value="appearance">appearance</option>
<option value="appreciation">appreciation</option>
<option value="criminal case">criminal case</option>
<option value="deem">deem</option>
<option value="offer">offer</option>
<option value="conspiracy">conspiracy</option>
<option value="single judge">single judge</option>
<option value="prayer">prayer</option>
<option value="prosecutor">prosecutor</option>
<option value="blood">blood</option>
<option value="eye witness">eye witness</option>
<option value="fear">fear</option>
<option value="harm">harm</option>
<option value="reasonable doubt">reasonable doubt</option>
<option value="spot">spot</option>
<option value="communication">communication</option>
<option value="vat">vat</option>
<option value="service tax">service tax</option>
<option value="cbi">cbi</option>
<option value="deposition">deposition</option>
<option value="dress">dress</option>
<option value="eye-witness">eye-witness</option>
<option value="accused person">accused person</option>
<option value="expenses">expenses</option>
<option value="cheque">cheque</option>
<option value="right to information act">right to information act</option>
<option value="investigating officer">investigating officer</option>
<option value="oath">oath</option>
<option value="contempt of court">contempt of court</option>
<option value="arbitral award">arbitral award</option>
<option value="believe">believe</option>
<option value="charge-sheet">charge-sheet</option>
<option value="criminal justice">criminal justice</option>
<option value="gold">gold</option>
<option value="jail">jail</option>
<option value="quarrel">quarrel</option>
<option value="precedent">precedent</option>
<option value="medical college">medical college</option>
<option value="criminal proceedings">criminal proceedings</option>
<option value="litigation">litigation</option>
<option value="quash">quash</option>
<option value="credit">credit</option>
<option value="natural justice">natural justice</option>
<option value="insurance company">insurance company</option>
<option value="narcotic drugs and psychotropic substances act">narcotic drugs and psychotropic substances act</option>
<option value="criminal court">criminal court</option>
<option value="special judge">special judge</option>
<option value="circumstantial evidence">circumstantial evidence</option>
<option value="suicide">suicide</option>
<option value="dead body">dead body</option>
<option value="innocence">innocence</option>
<option value="dismissal">dismissal</option>
<option value="further investigation">further investigation</option>
<option value="vehicle">vehicle</option>
<option value="absence">absence</option>
<option value="arbitral tribunal">arbitral tribunal</option>
<option value="conciliation">conciliation</option>
<option value="misconduct">misconduct</option>
<option value="summons">summons</option>
<option value="weapon">weapon</option>
<option value="omission">omission</option>
<option value="investigating agency">investigating agency</option>
<option value="proof">proof</option>
<option value="search">search</option>
<option value="imprisonment for life">imprisonment for life</option>
<option value="background">background</option>
<option value="credibility">credibility</option>
<option value="clothes">clothes</option>
<option value="contradiction">contradiction</option>
<option value="access">access</option>
<option value="association">association</option>
<option value="seizure">seizure</option>
<option value="public purpose">public purpose</option>
<option value="award">award</option>
<option value="corrupt">corrupt</option>
<option value="corruption">corruption</option>
<option value="distinct">distinct</option>
<option value="piracy">piracy</option>
<option value="dowry">dowry</option>
<option value="jurisprudence">jurisprudence</option>
<option value="secretary">secretary</option>
<option value="reply">reply</option>
<option value="consumer">consumer</option>
<option value="fundamental right">fundamental right</option>
<option value="morality">morality</option>
<option value="power of the court">power of the court</option>
<option value="prohibit">prohibit</option>
<option value="central excises and salt act">central excises and salt act</option>
<option value="res judicata">res judicata</option>
<option value="non-explanation">non-explanation</option>
<option value="tribunal">tribunal</option>
<option value="reinstatement">reinstatement</option>
<option value="representation of the people act">representation of the people act</option>
<option value="distinct offence">distinct offence</option>
<option value="dismissed">dismissed</option>
<option value="blood stains">blood stains</option>
<option value="duty of excise">duty of excise</option>
<option value="central excise rules">central excise rules</option>
<option value="self-defence">self-defence</option>
<option value="police record">police record</option>
<option value="exemption notification">exemption notification</option>
<option value="foreign award">foreign award</option>
<option value="levy of duty">levy of duty</option>
<option value="place of removal">place of removal</option>
<option value="disability pension">disability pension</option>
<option value="excisability of goods">excisability of goods</option>
<option value="capital market">capital market</option>
<option value="legal notice">legal notice</option>
<option value="appeals disposed of">appeals disposed of</option>
<option value="appeal disposed of">appeal disposed of</option>
<option value="finding of facts">finding of facts</option>
<option value="contractual liability">contractual liability</option>
<option value="fingerprints">fingerprints</option>
<option value="appeal allowed">appeal allowed</option>
<option value="executive instructions">executive instructions</option>
<option value="rehabilitation">rehabilitation</option>
<option value="reduction in rank">reduction in rank</option>
<option value="civil case">civil case</option>
<option value="mitigating circumstance">mitigating circumstance</option>
<option value="application for impleadment">application for impleadment</option>
<option value="bride burning">bride burning</option>
<option value="extra judicial confession">extra judicial confession</option>
<option value="co- accused">co- accused</option>
<option value="blood stained clothes">blood stained clothes</option>
<option value="demeanour of witness">demeanour of witness</option>
<option value="charge- sheet">charge- sheet</option>
<option value="appeals dismissed">appeals dismissed</option>
<option value="u.p. industrial disputes act">u.p. industrial disputes act</option>
<option value="review application">review application</option>
<option value="eye- witness">eye- witness</option>
<option value="income tax act">income tax act</option>
<option value="income tax act 1961">income tax act 1961</option>
</select>
<script>
$(function(){
$("select").dashboardCodeBsMultiSelect();
});
</script>
		</div>
		<div class="acts col-mid-3">
			<center><p class="title">Acts:</p></center><br>
			<select name="states2" id="example2" class="form-control"  multiple="multiple" style="display: none;">
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option  value="CA">California</option>
<option selected value="IN">India</option>
</select>
<script>
$(function(){
$("select").dashboardCodeBsMultiSelect();
});
</script>
		</div>
		<div class="judge col-mid-3">
			<center><p class="title">Judge:</p></center><br>
			<select name="states3" id="example3" class="form-control"  multiple="multiple" style="display: none;">
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option  value="CA">California</option>
</select>
<script>
$(function(){
$("select").dashboardCodeBsMultiSelect();
});
</script>

  </div>
		</div>
	</div>
		 <script src="{%  static 'js/jq.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


   <script src="{%  static 'js/js.js' %}"></script>

    <script src="{%  static 'js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="{%  static 'js/BsMultiSelect.js' %}"></script>
<script>$("select").bsMultiSelect();</script>

</body>
</html>


