<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/fa.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css?v=1' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{%  static 'css/BsMultiSelect.css' %}">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <!--   <link rel="stylesheet" href="/resources/demos/style.css"> -->


    <title>Index</title>
</head>
<body class="container">

<div >




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="filterButton" class="btn btn-info " >
                <span>Show Filters</span>
            </button>

        </div>
    </nav>


    <div class="logoBox">
        <div class="logoTitle">
                TheLawiva
        </div>
    </div>

    <div class="searchForm">
        <form action="{% url 'output' %}" method="post" role="form">
        {% csrf_token %}
            <div class="searchbox">
                <input type="text" name="naturalLanguageQuery" class="search" placeholder="search " required>
                <button class="fa fa-search searchIcon" type="submit" aria-hidden="true"></button>
            </div>
        </form>
    </div>



    <div id="sidebar">
        <div class="rows">
            <div class="category col-md-6">
                <div style="text-align: center;">
                    <p class="title">category:</p>
                </div><br>
                <select name="categories" class="form-control"  multiple="multiple" style="display: none;">
                    {%  for value, text in form.fields.categories.choices %}
                        <option value="{{values}}">{{text}}</option>
                    {% endfor %}
                </select>
                <script>
                $(function(){
                $("select").dashboardCodeBsMultiSelect();
                });
                </script>
            </div>
            <div class="acts col-md-4">
                <div style="text-align: center;"><p class="title">Acts:</p></div><br>
                <select name="acts" class="form-control"  multiple="multiple" style="display: none;">
                    {%  for value, text in form.fields.acts.choices %}
                        <option value="{{value}}">{{text}}</option>
                    {% endfor %}
                </select>
                <script>
                $(function(){
                $("select").dashboardCodeBsMultiSelect();
                });
                </script>
            </div>
            <div class="judge col-md-4">
                <div style="text-align: center;"><p class="title">Judge:</p></div><br>
                <select name="judges" class="form-control"  multiple="multiple" style="display: none;">
                    <option value="check">check</option>
                    {%  for value, text in form.fields.judges.choices %}
                        <option value="{{value}}">{{text}}</option>
                    {% endfor %}
                </select>

                <script>
                $(function(){
                $("select").dashboardCodeBsMultiSelect();
                });
                </script>
            </div>
        </div>
<!--         <div class="drops rows">
            <div class="dateFrom col-md-6">
                <div style="text-align: center;"><p class="title">From:</p></div><br>
                <input type="date" name="dateFrom"><br><br><br>
            </div>
            <div class="dateTo col-md-6">
                <div style="text-align: center;"><p class="title">To:</p></div><br>
                <input type="date" name="dateTo">
            </div>
        </div> -->
    </div>

</div>


    
                 <script src="{%  static 'js/jq.js' %}"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


           <script src="{%  static 'js/js.js' %}"></script>

            <script src="{%  static 'js/bootstrap.js' %}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="{%  static 'js/BsMultiSelect.js' %}"></script>
        <script>$("select").bsMultiSelect();</script>


<script type="text/javascript">
    $(document).ready(function () {

    $('#filterButton').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
</script>    

</body>
</html>


