<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<title>Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/outstyles.css?v1.211' %}">

</head>
<body>

    <div class="container">
        <div class="headline">
            <h1>Relevant Legal Documents</h1>
        </div>
        <div class="caseTable">
          <table class="table table-hover table-fixedheader">
            <thead style="color: #157cc1">
              <tr class="row">
                <th class="col-md-2">Date</th>
                <th class="col-md-2">Cases</th>
                <th class="col-md-2">Judge</th>
                <th class="col-md-2">Category</th>
                <th class="col-md-2">Acts</th>
                <th class="col-md-2">Judgement</th>
              </tr>
            </thead>
            <tbody class="tableBody">
                {%  for date, case, judge, category, act, judgement in data.data %}
                    <tr class="row">
                        <td class="col-md-2">{{date}}</td>
                        <td class="col-md-2">{{case}}</td>
                        <td class="col-md-2">{{judge}}</td>
                        <td class="col-md-2">{{category}}</td>
                        <td class="col-md-2">{{act}}</td>
                        <td class="col-md-2">{{judgement}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
            
        </div>
    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>