@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700italic,700,400italic);
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
body{
	margin:0px;
	padding: 0px;
}


html, body
{
    height: 100%;
    min-height: 100%;
    touch-action:none;
}

body{
  margin: 0px;
  padding: 0px;
  position: relative;
}

.container{
  /*position: absolute;*/
}


table th {
    width: auto !important;
}

.headline{
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  color: #157cc1;
}


.caseTable{
  position: relative;
  width: 100%;
  margin-left: 50px;
  margin-top: 20px;
  top: 15vh;
}


.tableBody{
  display: block;
  overflow-y: scroll;
  height: 70vh;
}

.row{
  margin: 0;
  width: 100%;
}